@import '../../styles/variables';
.Container {
  width: 100%;
  height: 85.5rem;
  border: solid 1px green;

  background: url('../../assets/imgs/img_2.svg') no-repeat center center;
  background-size: cover;
  background-color:$color-primary;

  .main_Img_1{
    width: 100%;
    height: 40.72rem;
  }
  .text_Container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 40.4rem;
    height: 100%;

    justify-content: center;
  }
}
